.row
  .col-md-6
    %a{ href: birthday_card.image.url(:original) }
      = image_tag birthday_card.image.url(:medium), class: 'img-rounded img-responsive'
  .col-md-6
    .text-center
      %a{ href: birthday_card_path(birthday_card) }
        %h4.multiline= birthday_card.title
    %p
      = simple_format birthday_card.greeting
    %p.text-right.multiline
      %em Yours
      %strong
        = birthday_card.author
%br
