.row
  .col-md-11.col-md-offset-1
    = bootstrap_form_for(@birthday_card) do |f|
      - if @birthday_card.errors.any?
        .alert.alert-danger
          %h3.header
            = pluralize(@birthday_card.errors.count, "error")
            prohibited this Birthday card from being saved:
          %ul
            - @birthday_card.errors.full_messages.each do |message|
              %li= message
      .form-group
        = f.file_field :image
        - if @birthday_card.id
          =image_tag @birthday_card.image.url(:thumb), class: 'img-rounded img-responsive'
      .form-group
        = f.text_field :title
      .form-group
        = f.text_area :greeting, rows: 5
      .form-group
        = f.text_field :author
      .actions
        = f.submit "Submit Birthday card", class: 'btn btn-success', id: 'file_selection'
