.container
  .row
    %h1.text-center.header Editing Birthday Card
  .row
    .col-md-8.col-md-offset-2
      .well
        = render 'form'
        .row
          .col-md-12.text-center
            .btn-group{ role: 'group', 'aria-label' => 'true' }
              = link_to 'To Birthday card', @birthday_card, class: 'btn btn-primary'
              = link_to 'To all Birthday cards', birthday_cards_path, class: 'btn btn-info'
