.container
  -if @birthday_cards.length != 0
    .row
      .col-md-12
        %h1.text-center.header Your Birthday Cards
    .row
      .col-md-12.text-center
        = paginate @birthday_cards
    .row
    - @birthday_cards.each do |birthday_card|
      .col-md-6
        .well
          = render partial: 'birthday_cards/card', locals: { birthday_card: birthday_card }
          .row
            .col-md-12.text-center
              .btn-group{ role: 'group' }
                = link_to 'Show', birthday_card, class: 'btn btn-primary'
                = link_to 'Edit', edit_birthday_card_path(birthday_card), class: 'btn btn-warning'
                = link_to 'Delete', birthday_card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  -else
    .row
      .col-md-12.text-center
        %h1.header Be the first to greet Elizabeth!
    .row
      .col-md-12.text-center
        = link_to 'Make the first Birthday card!', new_birthday_card_path, class: 'btn btn-success btn-lg'
