.container
  .row
    %h1.text-center.header New Birthday Card
  .row
    .col-md-8.col-md-offset-2
      .well
        = render 'form'
        .row
          .col-md-12.text-center
            .btn-group{ role: 'group' }
              = link_to 'To all Birthday cards', birthday_cards_path, class: 'btn btn-info'
