.container
  .row
    .col-md-8.col-md-offset-2
      .well
        = render partial: 'birthday_cards/card', locals: { birthday_card: @birthday_card }
        .row
          .col-md-12.text-center
            .btn-group{ role: 'group' }
              = link_to 'All', birthday_cards_path, class: 'btn btn-primary'
              = link_to 'Edit', edit_birthday_card_path(@birthday_card), class: 'btn btn-warning'
              = link_to 'Delete', @birthday_card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
