/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootswatch/paper/variables";
@import "bootstrap";
@import "bootswatch/paper/bootswatch";

body {
    padding-top: 70px;
    background-image: image-url("pshenichnoe-pole-s-voronami.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.btn-success, .btn-danger, .btn-primary, .btn-warning, .btn-info {
    color: #fff !important;
}

.header {
    color: #fff !important;
}

p {
    word-wrap: break-word;
}
