%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to 'Happy Bday Liz!', root_path, class: 'navbar-brand'
      %button.navbar-toggle.collapsed{'data-toggle' => "collapse", 'data-target' => '#header_menu', 'aria-expanded' => 'false'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#header_menu
      = link_to 'New Birthday card', new_birthday_card_path, class: 'btn btn-success navbar-btn'
      = link_to 'GitHub', "https://github.com/DTLuna/liz_bday", class: 'btn btn-info navbar-btn navbar-right' 
